/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
}

/* Estilos para los encabezados */
h1 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

/* Estilos para la imagen */
img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: 3px solid #2980b9;
}

/* Estilos para los párrafos */
p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}